/* General tag cloud styling */
.tag-cloud {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.tag-group {
  margin-bottom: 20px;
}

.tag {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
  font-size: 16px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.tag:hover {
  background-color: #007acc;
  color: white;
  transform: scale(1.1);
}

.bioinformatics .tag {
  background-color: #e0f7fa;
}

.databases .tag {
  background-color: #c8e6c9;
}

.analysis .tag {
  background-color: #d1c4e9;
}

.visualization .tag {
  background-color: #f8bbd0;
}

.soft .tag {
  background-color: #ffe0b2;
}

/* Basic Styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h2,
h3 {
  color: #333;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.results-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Responsive Images */
.responsive-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.responsive-img.right {
  max-width: 300px;
  margin-left: 20px;
  margin-right: 0;
}

.responsive-img.left {
  max-width: 200px;
  margin-right: 20px;
  margin-left: 0;
}

.responsive-img.center {
  display: block;
  margin: 0 auto 20px auto;
}

/* Handle smaller images */
.small {
  max-width: 200px;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .responsive-img.right,
  .responsive-img.left {
    margin: 0;
    max-width: 100%;
  }

  .results-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  h2,
  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }
}
